/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// variables
$spacing-xs: 0.25rem;
$spacing-s: 0.5rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;

// mixins
@mixin breakpoint-s {
  @media(min-width: 540px) { @content; }
}

@mixin breakpoint-m {
  @media(min-width: 900px) { @content; }
}

@mixin breakpoint-l {
  @media(min-width: 1100px) { @content; }
}

// animations
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeInUp {
  0% {opacity: 0; transform: translate3d(0, 100%, 0);}
  100% {opacity: 1; transform: translate3d(0, 0, 0);}
}

@keyframes flipForward {
  0% { opacity: 0; transform: rotate3d(1, 0, 0, 0); }
  100% { opacity: 1; transform: rotate3d(1, 0, 0, 180deg); }
}

@keyframes flipBack {
  0% { opacity: 0; transform: rotate3d(1, 0, 0, 180deg); }
  50% { box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1); }
  100% { opacity: 1; transform: rotate3d(1, 0, 0, 0); }
}

// reusable classes
.font-size-header {
  font-size: 3rem;
  line-height: 1.3;
}

.font-size-subheader {
  font-size: 2rem;
  line-height: 1.4;
}

.font-size-body-l {
  font-size: 1.5rem;
  line-height: 1.5;
}

.font-size-body-s {
  font-size: 0.75rem;
  line-height: 1.6;
}


html, body {
  font-size: 100%;
  font-family: roboto;

  @include breakpoint-m {
    font-size: 110%;
  }
}


// intro panel
.intro {

  .intro__header {
    padding: $spacing-l;
    text-align: center;
    background-color: #333;
    color: #fff;
  }

  .intro__decks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .deck {
    width: 100%;
    max-width: 200px;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: $spacing-m;
    border: 1px solid black;
    background-color: #fff;
    transition: all 150ms;

    &::before,
    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      border: 1px solid black;
      background-color: #fff;
      z-index: -1;
      content: '';
    }

    &::before {
      top: 10px;
      left: 10px;
    }

    &::after {
      top: 5px;
      left: 5px;
    }

    &:hover {
      background-color: #e3e3e3;
      cursor: pointer;
    }
  }
}

// game panel
.game {

  .game__header {
    padding: $spacing-l;
    text-align: center;
    background-color: #333;
    color: #fff;
  }

  .header__deck {
    margin-bottom: $spacing-m;
  }

  .header__info {
    display: flex;
    align-items: center;
    justify-content: center;

    .info {
      margin: 0 $spacing-s;
      padding: $spacing-s;
      border: 1px solid #fff;
    }

    .info__detail {
      display: block;
      font-weight: bold;
    }
  }

  .game__cards {
    max-width: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: $spacing-s;
  }

  .card {
    width: 100%;
    max-width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: $spacing-xs;
    text-align: center;
    perspective: 1000px;
    transition: all 150ms;

    &:hover:not(.is--completed):not(.card--flipped) {

      .card__inner {
        background-color: #e3e3e3;
        cursor: pointer;
      }
    }

    &.is--completed {
      border: 0;

      .card__side {
        display: none;
      }
    }

    .card__inner {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 500ms ease-out;
      border: 1px solid black;
      transition: all 250ms;
    }

    .card__side {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      backface-visibility: hidden;
    }

    .card__icon {
      width: 50px;
      height: 50px;
      background: gray;
    }

    .card__back {
      transform: rotate3d(1, 0, 0, 180deg);
    }

    &.card--flipped:not(.is--completed) {

      .card__inner {
        transform: rotate3d(1, 0, 0, 180deg);
      }
    }
  }
}

button {
  background-color: pink;
  border: none;
  font-size: 100%;
  padding: 0.25rem 0.75rem;
}

.overlay__wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  animation: fadeIn 250ms ease-out;

  &:empty {
    display: none;
  }

  &.fade-off {
    animation: fadeOut 250ms ease-out both;
  }

  > * {
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
}

.overlay__spell {

  > * {
    animation-name: fadeInUp;
    animation-duration: 350ms;
    animation-fill-mode: backwards;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 150ms;
      }
    }
  }

  .spell__title {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    &::before,
    &::after {
      height: 2px;
      flex: 1 0;
      background-color: #333;
      display: block;
      margin: 0 $spacing-s;
      content: '';
    }
  }
}

.overlay__won {

  .won__description {
    width: 100%;
    text-align: center;
  }
  
  .won__spells {
    text-align: center;
  
    .won__spell::before {
      width: 50px;
      height: 1px;
      background-color: black;
      display: block;
      margin: $spacing-s auto;
      content: '';
    }
  }
}
