/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;
  box-sizing: border-box;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// variables
$spacing-xs: 0.25rem;
$spacing-s: 0.5rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;

$font-family-display: 'Crimson Text', serif;

$pattern-squares: url('./assets/pattern-squares.svg') repeat-x 0 0;

$color-blue-900: #12384D;
$color-blue-500: #1E6D91;
$color-green-100: #D2F4EB;
$color-green-500: #9DD0BF;
$color-green-900: #2C646A;

// mixins
@mixin breakpoint-s {
  @media(min-width: 540px) { @content; }
}

@mixin breakpoint-m {
  @media(min-width: 900px) { @content; }
}

@mixin breakpoint-l {
  @media(min-width: 1100px) { @content; }
}

// animations
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeInUp {
  0% {opacity: 0; transform: translate3d(0, 25%, 0);}
  100% {opacity: 1; transform: translate3d(0, 0, 0);}
}

@keyframes flipForward {
  0% { opacity: 0; transform: rotate3d(1, 0, 0, 0); }
  100% { opacity: 1; transform: rotate3d(1, 0, 0, 180deg); }
}

@keyframes flipBack {
  0% { opacity: 0; transform: rotate3d(1, 0, 0, 180deg); }
  50% { box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1); }
  100% { opacity: 1; transform: rotate3d(1, 0, 0, 0); }
}

// reusable classes
.font-size-header {
  font-size: 3rem;
  line-height: 1.3;
}

.font-size-subheader {
  font-size: 2rem;
  line-height: 1.4;
}

.font-size-body-l {
  font-size: 1.5rem;
  line-height: 1.2;
}

.font-size-body-s {
  font-size: 0.75rem;
  line-height: 1.2;
}

.is--hidden {
  display: none !important;
}


html, body {
  height: 100%;
  font: 100% / 1.2 $font-family-display;

  @include breakpoint-m {
    font-size: 110%;
  }
}


body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, $color-blue-900 0%, $color-blue-500 30%, $color-blue-500 70%, $color-blue-900 100%);
}

.heading,
.game {
  padding: $spacing-m $spacing-s;
}

.heading {
  color: #fff;
  background: $pattern-squares;
  text-align: center;

  .heading__title {
    max-width: 530px;
    margin: $spacing-l auto;
    color: $color-green-100;
    font: 4rem/1 $font-family-display;
  }

  .heading__directions {
    max-width: 850px;
    margin: 0 auto;
  }
}

.game {
  flex-grow: 1;
  background-color: rgba($color-blue-900, 0.20);
}

// SECTION for decks
.game__decks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .deck {
    width: 100%;
    max-width: 225px;
    height: 225px;
    margin: $spacing-s;
    padding: $spacing-m;
    background-color: $color-green-100;
    color: $color-green-900;
    text-align: center;
    border-radius: 13px;
    border-top: 5px solid $color-green-500;
    box-shadow: 0 10px 22px rgba($color-blue-900, 0.16);
    animation: fadeInUp 250ms both;
    transition: all 300ms ease-out;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: 100ms * $i;
      }
    }

    &:hover {
      background-color: $color-green-500;
      border-top-color: $color-green-900;
      cursor: pointer;
    }
  }

  .deck__icon__wrapper {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto $spacing-s;
    border-radius: 50%;
    background-color: #fff;
  }

  .deck__icon {
    width: 80px;
  }
}


// game panel
.game {

  .header__deck {
    margin-bottom: $spacing-m;
  }

  .header__info {
    display: flex;
    align-items: center;
    justify-content: center;

    .info {
      margin: 0 $spacing-s;
      padding: $spacing-s;
      border: 1px solid #fff;
    }

    .info__detail {
      display: block;
      font-weight: bold;
    }
  }

  .game__cards {
    max-width: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: $spacing-s;
  }

  .card {
    width: 100%;
    max-width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: $spacing-xs;
    text-align: center;
    perspective: 1000px;
    transition: all 150ms;

    &:hover:not(.is--completed):not(.is--flipped) {

      .card__inner {
        background-color: #e3e3e3;
        cursor: pointer;
      }
    }

    &.is--completed {
      border: 0;

      .card__side {
        display: none;
      }
    }

    .card__inner {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 500ms ease-out;
      transition: all 250ms;
    }

    .card__side {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      backface-visibility: hidden;
    }

    .card__icon {
      width: 50px;
      height: 50px;
      background: gray;
    }

    .card__front {
      background-color: #fff;
    }

    .card__back {
      transform: rotate3d(1, 0, 0, 180deg);
      background-color: $color-green-100;
    }

    &.is--flipped:not(.is--completed) {

      .card__inner {
        transform: rotate3d(1, 0, 0, 180deg);
      }
    }
  }
}

button {
  background-color: pink;
  border: none;
  font-size: 100%;
  padding: 0.25rem 0.75rem;
}

.overlay__wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  animation: fadeIn 250ms ease-out;

  &:empty {
    display: none;
  }

  &.fade-off {
    animation: fadeOut 250ms ease-out both;
  }

  > * {
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
}

.overlay__spell {

  > * {
    animation-name: fadeInUp;
    animation-duration: 350ms;
    animation-fill-mode: backwards;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 150ms;
      }
    }
  }

  .spell__title {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    &::before,
    &::after {
      height: 2px;
      flex: 1 0;
      background-color: #333;
      display: block;
      margin: 0 $spacing-s;
      content: '';
    }
  }
}

.overlay__won {

  .won__description {
    width: 100%;
    text-align: center;
  }
  
  .won__spells {
    text-align: center;
  
    .won__spell::before {
      width: 50px;
      height: 1px;
      background-color: black;
      display: block;
      margin: $spacing-s auto;
      content: '';
    }
  }
}
