/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 25%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes flipForward {
  0% {
    opacity: 0;
    transform: rotate3d(1, 0, 0, 0);
  }
  100% {
    opacity: 1;
    transform: rotate3d(1, 0, 0, 180deg);
  }
}
@keyframes flipBack {
  0% {
    opacity: 0;
    transform: rotate3d(1, 0, 0, 180deg);
  }
  50% {
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  }
  100% {
    opacity: 1;
    transform: rotate3d(1, 0, 0, 0);
  }
}
.font-size-header {
  font-size: 3rem;
  line-height: 1.3;
}

.font-size-subheader {
  font-size: 2rem;
  line-height: 1.4;
}

.font-size-body-l {
  font-size: 1.5rem;
  line-height: 1.2;
}

.font-size-body-s {
  font-size: 0.75rem;
  line-height: 1.2;
}

.is--hidden {
  display: none !important;
}

html, body {
  height: 100%;
  font: 100%/1.2 "Crimson Text", serif;
}
@media (min-width: 900px) {
  html, body {
    font-size: 110%;
  }
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #12384D 0%, #1E6D91 30%, #1E6D91 70%, #12384D 100%);
}

.heading,
.game {
  padding: 1rem 0.5rem;
}

.heading {
  color: #fff;
  background: url("./assets/pattern-squares.svg") repeat-x 0 0;
  text-align: center;
}
.heading .heading__title {
  max-width: 530px;
  margin: 1.5rem auto;
  color: #D2F4EB;
  font: 4rem/1 "Crimson Text", serif;
}
.heading .heading__directions {
  max-width: 850px;
  margin: 0 auto;
}

.game {
  flex-grow: 1;
  background-color: rgba(18, 56, 77, 0.2);
}

.game__decks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.game__decks .deck {
  width: 100%;
  max-width: 225px;
  height: 225px;
  margin: 0.5rem;
  padding: 1rem;
  background-color: #D2F4EB;
  color: #2C646A;
  text-align: center;
  border-radius: 13px;
  border-top: 5px solid #9DD0BF;
  box-shadow: 0 10px 22px rgba(18, 56, 77, 0.16);
  animation: fadeInUp 250ms both;
  transition: all 300ms ease-out;
}
.game__decks .deck:nth-child(1) {
  animation-delay: 100ms;
}
.game__decks .deck:nth-child(2) {
  animation-delay: 200ms;
}
.game__decks .deck:nth-child(3) {
  animation-delay: 300ms;
}
.game__decks .deck:nth-child(4) {
  animation-delay: 400ms;
}
.game__decks .deck:nth-child(5) {
  animation-delay: 500ms;
}
.game__decks .deck:hover {
  background-color: #9DD0BF;
  border-top-color: #2C646A;
  cursor: pointer;
}
.game__decks .deck__icon__wrapper {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}
.game__decks .deck__icon {
  width: 80px;
}

.game .header__deck {
  margin-bottom: 1rem;
}
.game .header__info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game .header__info .info {
  margin: 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid #fff;
}
.game .header__info .info__detail {
  display: block;
  font-weight: bold;
}
.game .game__cards {
  max-width: 680px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0.5rem;
}
.game .card {
  width: 100%;
  max-width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  text-align: center;
  perspective: 1000px;
  transition: all 150ms;
}
.game .card:hover:not(.is--completed):not(.is--flipped) .card__inner {
  background-color: #e3e3e3;
  cursor: pointer;
}
.game .card.is--completed {
  border: 0;
}
.game .card.is--completed .card__side {
  display: none;
}
.game .card .card__inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 500ms ease-out;
  transition: all 250ms;
}
.game .card .card__side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}
.game .card .card__icon {
  width: 50px;
  height: 50px;
  background: gray;
}
.game .card .card__front {
  background-color: #fff;
}
.game .card .card__back {
  transform: rotate3d(1, 0, 0, 180deg);
  background-color: #D2F4EB;
}
.game .card.is--flipped:not(.is--completed) .card__inner {
  transform: rotate3d(1, 0, 0, 180deg);
}

button {
  background-color: pink;
  border: none;
  font-size: 100%;
  padding: 0.25rem 0.75rem;
}

.overlay__wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
  animation: fadeIn 250ms ease-out;
}
.overlay__wrapper:empty {
  display: none;
}
.overlay__wrapper.fade-off {
  animation: fadeOut 250ms ease-out both;
}
.overlay__wrapper > * {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.overlay__spell > * {
  animation-name: fadeInUp;
  animation-duration: 350ms;
  animation-fill-mode: backwards;
}
.overlay__spell > *:nth-child(1) {
  animation-delay: 150ms;
}
.overlay__spell > *:nth-child(2) {
  animation-delay: 300ms;
}
.overlay__spell > *:nth-child(3) {
  animation-delay: 450ms;
}
.overlay__spell > *:nth-child(4) {
  animation-delay: 600ms;
}
.overlay__spell .spell__title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.overlay__spell .spell__title::before, .overlay__spell .spell__title::after {
  height: 2px;
  flex: 1 0;
  background-color: #333;
  display: block;
  margin: 0 0.5rem;
  content: "";
}

.overlay__won .won__description {
  width: 100%;
  text-align: center;
}
.overlay__won .won__spells {
  text-align: center;
}
.overlay__won .won__spells .won__spell::before {
  width: 50px;
  height: 1px;
  background-color: black;
  display: block;
  margin: 0.5rem auto;
  content: "";
}

/*# sourceMappingURL=styles.css.map */
